.navbar {
    background-color: rgb(228, 100, 68);
}

/* https://stackoverflow.com/questions/47256185/bootstrap-list-group-scroll */
.list-group{
    max-height: 500px;
    max-width: 80vw;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}