{% extends "base.html"%}

{% block title%}Home{% endblock%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/history.css') }}">
{%endblock%}

{%block scripts%}

<script type="text/javascript" src="{{ url_for('static', filename='js/statistic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-card.js') }}"></script>
{%endblock%}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
       
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Today</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
         
      
    </div>
    <div class="col-12 col-md-8 history-container" id="man">
     
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <header>
            <h1>{{ today  }}</h1>
          </header>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">something else</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">idk</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">test</div>
      </div>


      {% for game in game_history %}
      <script>
        idk = new GameCard("{{game.date}}", "{{game.game_id}}");
        leftPage = document.getElementById("list-tab");
        leftPage.appendChild(idk.card);

        rightPage = document.getElementById("nav-tabContent");

        rightPage.appendChild(idk.content)
        
      </script>
      {% endfor %}

      <!-- <div class="row stats">
        <ul>
          {% for person in people %}
            <div class="col-sm-4">
              <h3>Player</h3>
              {{ person.first_name}}
            </div>
            <div class="col-sm-8">
              <h3>Stats</h3>
              <p>{{ person.id }}</p>
            </div>
          {% endfor %}
        </ul>
      </div> -->


    </div>
  </div>
</div>

{% endblock%}