{% extends "base.html"%}

{% block title%}Home{% endblock%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/history.css') }}">
{%endblock%}

{%block scripts%}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{%endblock%}
{% block content %}
<div class="row">
  <div class="col-sm-3 left-page">
    <div class="left-page-container">
      <h1>Today</h1>
    </div>
    
  </div>

  <div class="col-sm-9" id="man">
    <div class="history-container" id="history-container">
      <header>
        <h1>{{ today  }}</h1>
      </header>

      <div class="row stats">
        <ul>
          {% for person in people %}
            <div class="col-sm-4">
              <h3>Player</h3>
              {{ person.first_name}}
            </div>
            <div class="col-sm-8">
              <h3>Stats</h3>
              <p>{{ person.id }}</p>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- https://www.w3schools.com/tags/tag_button.asp -->


  </div>
</div>
{% endblock%}