{% extends "base.html"%}

{% block title%}Home{% endblock%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/history.css') }}">
{%endblock%}

{%block scripts%}

<script type="text/javascript" src="{{ url_for('static', filename='js/statistic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-card.js') }}"></script>
{%endblock%}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="left-page-container">
        <h1>Today</h1>
      </div>
      
    </div>
    <div class="col-12 col-md-8 history-container" id="man">
      <header>
        <h1>{{ today  }}</h1>
      </header>
      <div class="row stats">
        <ul>
          {% for person in people %}
            <div class="col-sm-4">
              <h3>Player</h3>
              {{ person.first_name}}
            </div>
            <div class="col-sm-8">
              <h3>Stats</h3>
              <p>{{ person.id }}</p>
            </div>
          {% endfor %}
        </ul>
      </div>


    </div>
  </div>
</div>

{% endblock%}